body {
    background-color: white;
    font-weight: bold;
    cursor: not-allowed;
}

/* Header */

#header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#banner {
    max-height: 50px;
    margin-right: 25px;
}

#prompt {
    font-size: 25px;
    margin-left: 25px;
    align-content: center;
}

/* Main Content */

#main {
    display: flex;
}

#amounts {
    background-color: black;
    padding: 20px;
}

#amounts table {
    border-collapse: separate;
    border-spacing: 5px;
    margin: auto;
}

#amounts table td {
    font-weight: bold;
    padding: 10px;
    background-color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 8px;
    width: 50%;
    min-width: 100px;
}

#amounts table td span:first-child {
    margin-right: 20px;
}

#amounts table td span:last-child {
    float: right;
}

#amounts table td.seen {
    opacity: .5;
}

#options {
    background-color: black;
    flex: 1;
}

#options table {
    border-spacing: 0;
    border: 10px solid black;
    height: 100%;
}

#options td {
    position: relative;
    width: calc(100% / 6);
}

#options td.case:hover {
    box-shadow: 0 0 10px 5px orange;
}

#options label {
    cursor: pointer;
}

#options img.case,
#case-closed img,
#case-open img {
    max-width: 100%;
    min-width: 120px;
}

.case-num {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-shadow: 2px 2px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
}

#case-val {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5px;
    padding: 2px 5px;
}

#case-closed {
    position: absolute;
    top: 0;
    z-index: 0;
    animation: fadeOut 1s forwards 1s;
}

#case-open {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s forwards 1s;
}

.hidden-case {
    visibility: hidden;
}

#options input[type="radio"]:not(:last-child) {
    display: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#options td.case:has(input[type="radio"]:checked) {
    box-shadow: 0 0 10px 5px orange;
}

#options:not(:has(input[type="radio"]:checked)) #btn-select {
    display: none;
}

#past-offers {
    color: white;
    text-align: center;
}

div#final-reveal {
    position: relative;
    text-align: center;
}

#final-reveal #closed {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    animation: fadeOut 1s forwards 1s;
}

#final-reveal #closed .case-num {
    font-size: 150px;
}

#final-reveal #closed img {
    max-width: 280px;
}

#final-reveal #open {
    opacity: 0;
    animation: fadeIn 1s forwards 1s;
}

#open #case-val {
    font-size: xxx-large;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 0;
}

/* Player Selections */
#selections {
    background-color: white;
}

#selections #buttons {
    text-align: center;
}

#selections #case-label {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

button.btn {
    min-width: 10%;
    height: 50px;
    background-color: black;
    color: white;
    border: 8px double goldenrod;
    border-radius: 12px;
    margin: 10px;
}

button#btn-select:hover {
    color: goldenrod;
}

#phone {
    max-height: 200px;
    animation: shake .2s infinite 2s;
    cursor: grab;
}

.round-btn {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: text-bottom;
    border: 4px outset darkgoldenrod;
}

.round-btn:first-child {
    background-color: green;
}

.round-btn:last-child {
    background-color: red;
}

.round-btn:hover {
    border: 4px inset goldenrod;
}

/* Animations */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}