body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

#main {
    width: 100%;
}

.fade-in {
    animation: fadeIn 3s forwards;
}

table {
    background: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 4px solid goldenrod;
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin: 50px;
}

input[type="radio"] {
    accent-color: goldenrod;
}

#error {
    color: red;
    text-align: center;
}

button {
    opacity: 0;
    min-width: 10%;
    background-color: black;
    color: white;
    border: 8px double goldenrod;
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    animation: fadeIn 3s forwards 0.2s;
}

button:hover {
    color: goldenrod;
}

img#intro {
    width: 100%;
}

#btn-rules {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
}

.rules {
    visibility: hidden;
    background: black;
    color: white;
    font-weight: bold;
    padding: 20px;
    border: 4px solid goldenrod;
    border-radius: 10px;
    position: absolute;
    top: 0;
    margin: 50px;
    text-align: center;
    max-width: 50%;
    max-height: 50%;
    max-height: 700px;
    overflow: auto;
}

#rules-close {
    text-align: right;
}

#rules-close input {
    font-weight: bold;
}

#rules-close input:hover {
    color: black;
    background: goldenrod;
}

.show {
    visibility: visible;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}